{% extends 'base.html' %}

{% block body %}

<div class="text-center d-flex flex-column">
  <div class="container">
  <div class="row h-100 justify-content-center align-items-center my-3">
  <div class = "col-10 col-md-8 col-lg-4 my-3">
      <form class="form-signin w-100 my-5" action = "/login_admin" method="POST" >
        <img class="mb-4" src="./static/plane.png" alt="" width="128" height="128">
        
        <div class="form-outline mb-4">
          <input name="email" type="text" id="form2Example1" class="form-control" placeholder="Email"/>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input name="password" type="password" id="form2Example2" class="form-control" placeholder="Password"/>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-2">
          <div class="col d-flex justify-content-center">
            
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
              <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
          </div>

          <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
          </div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn peach-gradient btn-block mb-4">Sign in</button>

        <!-- Register buttons -->
        <div class="text-center">
          <p>Not an admin? <a href="/login">Log in</a></p></p>
        </div>
      </form>
      </div>
    </div> 
  </div> 
</div>

{% endblock body %}