{% extends 'base.html' %}

{% block body %}

<body class="text-center">
  <div class="container">
  <div class="row h-100 justify-content-center align-items-center my-3">
  <div class = "col-10 col-md-8 col-lg-4 my-3">

    {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}

    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {{message}}

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% endfor %}
    {% endif %}
    {% endwith %}

      <form class="form-signin w-100 my-5" action = "/signup" method="POST">
        <img class="mb-4" src="./static/boarding-pass.png" alt="" width="128" height="128">
        
        <!-- First Name input -->
        <div class="form-outline mb-4">
            <input type="text" name="first_name" id="form2Example1" class="form-control" placeholder="First Name" required/>
        </div>

        <!-- Last Name input -->
        <div class="form-outline mb-4">
            <input type="text" name="last_name" id="form2Example1" class="form-control" placeholder="Last Name" required/>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" name="email" id="form2Example1" class="form-control" placeholder="Email" required/>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" name="password" id="form2Example2" class="form-control" placeholder="Create Password" required/>
        </div>

        <!-- Contact Number input -->
        <div class="form-outline mb-4">
            <input type="text" name="contact_number" id="form2Example1" class="form-control" placeholder="Contact Number" required/>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn peach-gradient btn-block mb-4">Sign in</button>

        <!-- Register buttons -->
        <div class="text-center">
          <p>Already a member? <a href="/user_login">Login Here</a></p>
          <p>Are you a admin? <a href="/login_admin">Log in</a></p></p>
        </div>

      </form>
      </div>
    </div> 
  </div> 
  </body>

{% endblock body %}